<% unless cart.line_items.empty? %>
  <div id="your-cart">Your Cart</div>
  <table>

    <%= render cart.line_items %>

    <tr class="total-price-block">
      <td colspan="2">Total</td>
      <td class="total-price"><%= number_to_currency(cart.total_price) %></td>
    </tr>
  </table>

  <div class="cart-buttons">
    <%= button_to 'Checkout', new_order_path, method: :get, class: "btn btn-info btn-lg" %>
    <%= button_to 'Empty cart', cart, method: :delete, class: "btn btn-danger btn-sm",
                  data: { confirm: 'Are yor sure?' } %>
  </div>
<% end %>
